@page
@model Proiect3._0.Pages.Regizori.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: #e6e6fa;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Regizor[0].NumeRegizor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Regizor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeRegizor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
